*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: #141313;
    width:40%;
    min-width:500px;
    padding:60px 0;
    position:absolute;
    transform:translate(-50%,50%);
    top:-10%;
    left:50%;
    border-radius:10px;
}
.timerDisplay{
    position: relative;
    width:110%;
    background:linear-gradient(-135deg,#0048ce,#008bfd);
    left:-5%;
    padding:40px 0;
    font-size: 40px;
    font-family: 'Roboto mono',monospace;
    display:flex;
    color:#fff;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}
.buttons{
    width: 80%;
    margin:60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    padding: 10px 20px;
    background-color: #fff;
    color:#141313;
    font-family: 'Poppins',sans-serif;
    border: none;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}